@page "/"
@using X00194620_Ca3.Services
@inject SpaceXService SpaceX
@inject NavigationManager Nav

<PageTitle>SpaceX Launch Timeline</PageTitle>

<MudContainer Class="mt-8">

    <MudText Typo="Typo.h4" GutterBottom="true">
        SpaceX Launch Timeline
    </MudText>

    @if (loading)
    {
        <MudProgressCircular Indeterminate="true" />
    }
    else if (launches is not null)
    {
        <MudList T="object" Dense="true">
            @foreach (var launch in launches){
                <MudPaper Class="d-flex align-center mb-2 p-3"
                          Style="cursor:pointer"
                          Elevation="1"
                          @onclick="() => OpenLaunch(launch.Id)">

                    <img src="@launch.Links.Patch.Small"
                         alt="@launch.Name Patch"
                         style="width: 50%; height: 50%; object-fit: scale-down;"
                         onerror="this.onerror=null; this.src='/images/default-patch.png';" />


                    <div class="flex-grow-1">
                        <b>@(launch.Name ?? "Unknown Mission")</b><br/>
                        @(launch.DateUtc?.ToLocalTime().ToString("dd MMM yyyy") ?? "Unknown Date")

                        <!-- DEBUG: show the image URL as plain text -->
                        <div style="font-size: 10px; color: grey;">
                            Patch: @launch.Links?.Patch?.Small
                        </div>
                    </div>

                    <MudChip
                        Color="@StatusColor(launch.Success)"
                        Text="@StatusText(launch.Success)"
                        Variant="Variant.Filled"/>
                </MudPaper>
            }
            s

        </MudList>
    }

</MudContainer>

@code {
    private List<Launch>? launches;
    private bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        launches = await SpaceX.GetLaunchesAsync();
        launches = launches.OrderBy(x => x.DateUtc).ToList();
        loading = false;
    }

    private void OpenLaunch(string id)
    {
        Nav.NavigateTo($"/launch/{id}");
    }

    private Color StatusColor(bool? success) =>
        success == true ? Color.Success :
        success == false ? Color.Error :
        Color.Warning;

    private string StatusText(bool? success) =>
        success == true ? "Success" :
        success == false ? "Failed" :
        "Unknown";
}
