@page "/"
@using X00194620_Ca3.Services

<PageTitle>SpaceX Launch Timeline</PageTitle>

<MudContainer Class="mt-8">

    <MudText Typo="Typo.h4" GutterBottom="true">
        SpaceX Launch Timeline
    </MudText>

    @if (loading)
    {
        <MudProgressCircular Indeterminate="true" />
    }
    else if (launches is not null){
        <!-- Search and filters -->
        <div class="d-flex mb-4 align-center flex-wrap" style="gap:12px;">
            <MudTextField @bind-Value="SearchText"
                          Placeholder="Search mission..."
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          Immediate="true"
                          Class="flex-grow-1"
                          Style="min-width:200px;"/>

            <MudSelect T="string" @bind-Value="SelectedStatus" Label="Status" Style="min-width:140px;">
                <MudSelectItem Value='@("All")'>All</MudSelectItem>
                <MudSelectItem Value='@("Success")'>Success</MudSelectItem>
                <MudSelectItem Value='@("Failed")'>Failed</MudSelectItem>
                <MudSelectItem Value='@("Unknown")'>Unknown</MudSelectItem>
            </MudSelect>

            <MudDatePicker @bind-Date="FromDate" 
                           Label="From Date" 
                           Placeholder="Select start date"
                           Editable="true"
                           Style="min-width:180px;" />

            <MudDatePicker @bind-Date="ToDate" 
                           Label="To Date" 
                           Placeholder="Select end date"
                           Editable="true"
                           Style="min-width:180px;" />

            <MudButton Variant="Variant.Outlined" OnClick="ClearFilters">Clear All</MudButton>
        </div>
    }

    <MudList T="object" Dense="true">
        @foreach (var launch in PagedLaunches)
        {
            <MudPaper Class="d-flex align-center mb-2 p-3"
                      Style="cursor:pointer"
                      Elevation="1"
                      @onclick="() => OpenLaunch(launch.Id)">

                <img src="@(launch.Links?.Patch?.Small ?? "/images/default-patch.png")"
                     alt="@(launch.Name ?? "Mission") Patch"
                     style="width:64px; height:64px; object-fit:contain; margin-right:12px;" />


                <div class="flex-grow-1">
                    <b>@(launch.Name ?? "Unknown Mission")</b><br/>
                    @(launch.DateUtc?.ToLocalTime().ToString("dd MMM yyyy") ?? "Unknown Date")
                    
                </div>

                <MudChip
                    Color="@StatusColor(launch.Success)"
                    Text="@StatusText(launch.Success)"
                    Variant="Variant.Filled"/>
            </MudPaper>
        }
    </MudList>

    @if (TotalItems > 0)
    {
        <div class="d-flex flex-column align-center mt-3">
            <MudPagination 
                Count="@TotalPages"
                Selected="@currentPage"
                SelectedChanged="@((int page) => { currentPage = page; InvokeAsync(StateHasChanged); })"
                ShowFirstButton="true"
                ShowLastButton="true"
                Class="mt-4 mb-10" />
        </div>
    }

</MudContainer>

